*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior:smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*defining all used colors*/
:root{
    --my-black:rgb(20, 15, 15);
    --my-yellow:#f0d843;
    --my-maron:#ff7d31;

}
body{
   /* overflow:hidden; */
   background-image:url("images/idesign.jpg");
   background-size:cover;
   display:flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   text-align: center;
   scroll-behavior: smooth;
   background-attachment: fixed;
   backdrop-filter:grayscale(100%);
   /* backdrop-filter:blur(0px); */
}
nav{
    /* width:90%; */
    background:white;
    box-sizing:border-box;
    margin:20px 0;
    padding:0 30px;
    height:40px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:end;
}
a{
    text-decoration: none;
    color:inherit;
    text-decoration:underline;
}
hr{
    color:var(--my-yellow);
    width:70%;
    align-self: center;
    margin:60px 0;
    border-top:dotted 1px var(--my-black);
    opacity:0.2;
}
ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    padding:20px;
    font-size:0.8rem;   
    color:var(--my-black);
}
/* reusable blocks */
.block{
    background:white;
    box-sizing:border-box;
  
}
.threediv{
    text-align:center;
    display:flex;
    align-items:start;
    justify-content: center;
    flex-direction:row;
    max-width:85%;
    margin-bottom:5%;
}
.threediv img{
    width:30px;
    height:30px;
    box-sizing: border-box;
}
.threeitem>h2{
    font-size: 2rem;
    font-weight:400;
}
.threeitem>h3{
    text-align:center;
    font-weight:300;
}
.threeitem{
    text-align:center;
    padding:20px;
}
.proof{
    background:var(--my-maron);
    margin-top:30px;
    margin-bottom:30px;
    padding:10px 90px ;
    justify-content: space-between;
    width:100%;
    max-width: 100vw;
}


h1{
    font-family: Bodoni MT;
    font-size: 40pt;
   
}
h2{
    font-size: 12pt;
    font-weight:400;
    max-width: 340px;
}
h3{
    font-size: 11.5pt;
    font-weight:400;
    max-width: 650px;
}
button{
    /* background-color: #f0d843; */
    background-color:black;
    border:none;
    color:#f0d843;
}
/*button primary*/
.primary{
    width:160px;
    height:40px;
    border-radius:26px;
    margin-top:35px;
    font-weight:500;
}
.secondary{
    width:80px;
    height:25px;
    border-radius:12px;
    font-size:0.7rem;
    background:transparent;
    border:1px solid var(--my-black);
    color:var(--my-black);
}
.heroback{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width: 100vw;
    /* height:570px; */
    padding:70px 0;
    margin:0 auto;
    /*box-shadow:0.5px 0.5px 20px -15px;
    /*
    border-top:1px solid rgb(192, 190, 190);
    border-bottom:1px solid rgb(192, 190, 190); */
}
.innerhero{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    padding:0px;
}
.herotext{
    text-align: left;
    margin-right:40px;
}
.heroimg{
    width:330px;
    height:330px;
    background-image:url("images/russ\ for\ figma\ 1.png");
    background-size: contain;
}
.socials{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:100%;
    padding-top:20px;
}
.socials span img{
    width:25px;
    height:25px;
    background:none;
    padding:0 auto;
    margin: 0 10px;
}
.iDesignAnimate{
    padding:70px 0;
    width:100px;
    text-align:center;
}
.outofform{
    position:relative;
}
form{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:3% 5%;
    background:var(--my-maron);
    width:25%;
    position:absolute;
    top:2%;
    opacity:0;
    display:none;
    box-shadow: 0.5px 2px 2px -10px var(--my-black);

}

.close{
    width:50px;
    height: 50px;
    margin-left:270px;
    cursor:pointer;
}
.close{
    cursor:pointer;
}

input{
    padding:5% 15%;
    text-align:left;
    width:fit-content;
    height:fit-content;
    border:none;
    background:rgba(179, 87, 2, 0.822);
}
label{
    text-align:left;
    margin:3% 0;
}
#formMessage{
    height:70px;
    max-height: fit-content;
}
form>button{
    font-weight:600;
    color:rgba(179, 87, 2, 0.822);
 
}




/* mini section for about me */
.miniabout{
    margin-top:40px;
    padding:70px 0;
    /* height:340px; */
    background:rgb(255, 245, 158);
    color:black;
}
.miniabout button{
    margin:0 auto;
}
.yellowhead{
    color:var(--my-black);
    margin-bottom:50px;
    text-align:left;
    border-bottom:var(--my-black) 1px solid;
}
.blackhead{
    color:var(--my-yellow);
    margin-top:30px;
    border-bottom:var(--my-yellow) 1px solid;
}





.gallery{
    margin-top:40px;
    height: fit-content;
    padding-bottom:50px;
    background:var(--my-black);
    color:var(--my-yellow);
    
}
.fronttext{
    margin:60px 0 10px;
    font-weight:500;
    font-size:1.2rem;
}
.description{
    margin:25px 0 45px 0;
}
.galleryline{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:70%;
    max-width: 950px;
    height:600px;
    margin:0 auto;
    background:none;
    
}
.galleryitem{
    /* padding:10px; */
    margin: 20px;
    width:350px;
    box-sizing: border-box;
    height:80%;
    background-size:cover;
    border:1px solid rgb(20, 15, 15);
    filter:grayscale(100%);
    color:var(--my-yellow);
}
.galleryitem:hover{
    filter:grayscale(0%);
    width:450px;
    transition:0.3s ease-in-out;
}

.primary a{
    color:var(--my-yellow);
}

.itemf1{
    background-image:url("images/home.png");
}
.itemf2{
    background-image:url("images/diceexpo.jpg")
}
.itemf3{
    background-image:url("images/caclulator.png");
}
.itemv1{
    background-image:url("images/girl\ better.jpg");
}
.itemv2{
    background-image:url("images/childday.jpg");
}
.itemv3{
    background-image:url("images/teen.png");
}
.skills{
    margin-top:40px;
    
}
.skillset>h2{
    font-size:2rem;
}
.skillset>h3{
    font-size: 1.5rem;
}

.skillset{
    margin-top:60px;
}
.skillline{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    margin-top:10%;
    font-size: 3rem;
    border-bottom:1px dotted var(--my-black);
    margin-bottom:100px;
}
.skillitem{
    display:flex;
    flex-direction:column;
    margin:10% 20%;
}
